* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
section::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  height: 280px;
  width: 280px;
  transform: translate(-170px, -120px);
  background: linear-gradient(90deg, rgb(175, 90, 104), white);
}
section::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  height: 280px;
  width: 280px;
  transform: translate(170px, 120px);
  background: linear-gradient(90deg, rgb(175, 90, 104), white);
}
.container {
  height: 275px;
  width: 450px;
  position: relative;
  z-index: 100;
}
.container .card {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
}
